{% for company in companies %}
    <a class="company" href="{{ path('company_view', { 'slug': company.slug }) }}">
        <header>{{ company.name }}</header>
        <section>{{ company.description }}</section>
    </a>
{% endfor %}